 *{
    margin: 0px;
    padding: 0px;
    }
body{
    font-family: Myriad Pro;
}
.head{
    text-align:center;
    color: #3B5997;
      }
.head1{
    text-align:center;
    color: #3B5997;
    font-size: 30px;
    margin-top: 10PX;
   
   
}

.head2{
    text-align:center;
    color: #3B5997;
    
}


.full { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full1  {
  -webkit-background-size: 100% 900px;
  -moz-background-size: 100% 900px;
  -o-background-size: 100% 900px;
  background-size: 100% 900px;
}
.full2  {
  -webkit-background-size: 100% 900px;
  -moz-background-size: 100% 900px;
  -o-background-size: 100% 900px;
  background-size: 100% 900px;
}
.full45  { 
  -webkit-background-size: 100% 900px;
  -moz-background-size: 100% 900px;
  -o-background-size: 100% 900px;
  background-size: 100% 900px;
}
.sty{
    color:#0083bc;border-bottom:1px solid #1857c3;
    }

.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
}
.progress {
    margin-bottom: 0;
}
